@font-face {
	font-family: 'CHILLER';
	src: url('./CHILLER.eot');
	src: local('CHILLER'), url('./CHILLER.woff') format('woff'), url('./CHILLER.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1382">Text with this font applied</p> */
.fontsforweb_fontid_1382 {
	font-family: 'CHILLER' !important;
}

/* Font downloaded from FontsForWeb.com */